/* app/globals.css */
@import "tailwindcss";

:root {
  scroll-behavior: smooth; /* Modern smooth scrolling for anchored links */
}

/* 1. REMOVE BROWSER SCROLLBARS GLOBALLY */
/* For Webkit browsers (Chrome, Safari, Edge, Brave) */
::-webkit-scrollbar {
  display: none;
}
/* For Firefox */
html {
  scrollbar-width: none;
}
/* For IE/Edge (Legacy) */
body {
  -ms-overflow-style: none;
}

/* 2. REMOVE HORIZONTAL SCROLLBAR ON CODE BLOCKS */
pre code {
  white-space: pre-wrap !important; /* Forces code wrapping so it doesn't overflow horizontally */
  word-wrap: break-word !important;
}
